__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwzw

*.egg-info/

*.log   
*.log.*


_build/
_static/
_templates/
_pycache/
_pycache/
__pycache__
_pycache_


ts2/_pycache_
ts2/__pycache__
